main {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 1rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    width: 320px;

    & > span {
      align-self: center;

      display: flex;
      align-items: center;
      gap: 1rem;

      font-family: "Tektur", sans-serif;
      letter-spacing: 0.1ch;
      font-size: 2rem;

      margin-bottom: 2rem;

      & > svg {
        width: 3rem;
        height: 3rem;
        stroke-width: 1.5;
        stroke: #e5383b;
      }
    }

    & > .success,
    & > .error {
      margin-bottom: 1rem;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > div {
        padding: 1rem;
        border-radius: 5px;

        font-size: 0.8rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > svg {
          flex-shrink: 0;

          width: 1rem;
          height: 1rem;
        }
      }
    }

    & > .success {
      & > div {
        background-color: #06d6a044;
        color: #06d6a0;
      }
    }

    & > .error {
      & > div {
        background-color: #e5383b44;
        color: #e5383b;
      }
    }

    & > p:first-of-type {
      font-size: 1.4rem;
      font-family: "Tektur", sans-serif;
    }

    & > p:last-of-type {
      font-size: 0.9rem;

      margin-bottom: 0.5rem;

      & > a {
        color: #e5383b;
      }

      & > a:hover {
        text-decoration: underline;
      }
    }

    & > form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      margin-top: 0.8rem;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        & > label {
          font-size: 0.85rem;

          margin-left: 0.2rem;
        }

        & > input {
          appearance: none;
          outline: none;

          padding: 0.6rem;
          border-radius: 5px;
          background-color: #212529;
          border: 2px solid #495057;

          font-weight: inherit;
          font-size: inherit;
          font-family: inherit;
          color: inherit;
        }

        & > input:focus {
          border-color: #e5383b;

          transition: border-color 0.3s;
        }
      }

      & > button {
        appearance: none;
        outline: none;

        font-weight: inherit;
        font-size: 0.9rem;
        font-family: inherit;
        color: inherit;

        width: fit-content;
        background-color: #212529;
        padding: 0.5rem 1rem;
        border: 1px solid #495057;
        border-radius: 5px;

        cursor: pointer;
      }

      & > button:focus {
        border-color: #e5383b;
        transition: border-color 0.3s;
      }

      & > button:hover {
        background-color: #161a1d;
      }
    }
  }
}

@media (max-width: 420px) {
  nav > a > p {
    display: none;
  }
}
