nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 1.5rem;
  border-bottom: 1px solid #495057;

  position: relative;

  & > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-family: "Tektur", sans-serif;
    font-size: 1.2rem;
    color: #d3d3d3;
    letter-spacing: 0.1ch;
    font-weight: 500;

    & > svg {
      stroke: #e5383b;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 0.8rem;

    & > a {
      background-color: #0b090a;
      border: 1px solid #495057;
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
    }
  }

  & > span {
    width: 100vw;
    height: 2px;
    background-color: red;

    position: absolute;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
  }
}

@keyframes loader {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }

  16% {
    transform-origin: left;
    transform: scaleX(1);
  }

  32% {
    transform-origin: right;
    transform: scaleX(1);
  }

  48% {
    transform-origin: right;
    transform: scaleX(0);
  }

  65% {
    transform-origin: right;
    transform: scaleX(1);
  }

  80% {
    transform-origin: left;
    transform: scaleX(1);
  }

  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}

.loading {
  animation: loader 3s infinite;
}
